.policy {
  line-height: 1.25; 
}

.policy h1 {
  margin-bottom: 45px;
}

.policy ul {
  list-style: none;
  padding: 0;
}

.policy p,
.policy ol {
  font-size: 18px;
}

.policy ol li {
  margin-top: 10px;
  margin-bottom: 10px;
}
